*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{

    background-color: #081b31;
    color:white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover{
    /* opacity: 70%; */
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;    /* vertical */
    gap: 5rem;
    margin: 4rem;
    font-size : 2rem;
    /* font-weight: bold; */
}

#user-score, #comp-score{
    font-size: 4rem;
    font-weight: bold;
}

#msg{
    margin-top: -0.8rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    padding: 1.3rem;
    border-radius: 1rem;
}